n8n/execution_error_handler.json
{
    "name": "AGCCE Execution Error Handler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agcce-execution-error",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.event_type }}",
                            "operation": "equals",
                            "value2": "EXECUTION_ERROR"
                        }
                    ]
                }
            },
            "id": "validate-event",
            "name": "Validate Event Type",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Extraer datos del error\nconst payload = $input.first().json.payload;\n\nconst planId = payload.plan_id || 'Unknown';\nconst stepId = payload.step_id || 'Unknown';\nconst error = payload.error || 'No error message';\nconst severity = payload.severity || 'high';\n\n// Crear mensaje de alerta\nconst alert = {\n  text: `🚨 *AGCCE Execution Error*\\n\\n` +\n        `*Plan ID:* ${planId}\\n` +\n        `*Step ID:* ${stepId}\\n` +\n        `*Severity:* ${severity.toUpperCase()}\\n` +\n        `*Error:* \\`\\`\\`${error}\\`\\`\\`\\n\\n` +\n        `_Requiere atencion inmediata_`,\n  planId: planId,\n  stepId: stepId,\n  severity: severity,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: alert }];"
            },
            "id": "format-alert",
            "name": "Format Error Alert",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                650,
                250
            ]
        },
        {
            "parameters": {
                "channel": "#agcce-alerts",
                "text": "={{ $json.text }}",
                "otherOptions": {
                    "mrkdwn": true
                }
            },
            "id": "slack-alert",
            "name": "Alert to Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                850,
                200
            ],
            "disabled": true,
            "notesInFlow": true,
            "notes": "Habilitar y configurar credenciales de Slack"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Error logged', plan_id: $json.planId }) }}"
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                250
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: 'Invalid event type' }) }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "respond-error",
            "name": "Respond Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                400
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Validate Event Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Event Type": {
            "main": [
                [
                    {
                        "node": "Format Error Alert",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Error Alert": {
            "main": [
                [
                    {
                        "node": "Alert to Slack",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "AGCCE"
        }
    ]
}